* {
	box-sizing: border-box;
}
body {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
	margin: 0;
}
h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
	
}
.jewelry {
	height: 400px;
	width: 100%;
	background: rgb(235, 204, 164);
	margin: 0.5rem 0;
}
.card {
	display: flex;
	flex-direction: column;
	background: rgb(255, 241, 223);
	padding: 1rem;
	height: 505px;
	justify-content: space-between;
}