* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
	color: rgb(99, 97, 97);
	text-decoration: none;
}
.furniture {
	position: relative;
	background-color: #fcf8f7;
}

.header {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	background: white;
	color: rgb(99, 97, 97);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.header-left {
	width: 33%;
}
.header-item li{
text-decoration: none;
list-style: none;
padding: 0px 80px;
font-size: 20px;
font-weight: lighter;
}

.header-item ul{
	display: flex;
}

.title-content {
	display: flex;	
}
.title {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 180px;
}
.title>h1 {
	font-size: 60px;
	text-align: end;
	padding: 0 90px 30px 150px;
}
.title>p {
	font-size: 20px;
	text-align: end;
	padding: 0 90px 30px 150px;
	font-weight: lighter;
}

.radius-picture {
	display: flex;
	align-items: center;
}
.radius-picture>img {
	border-radius: 0 80px 0 0;
}

.description {
	display: flex;
	margin: 100px 150px;
	background-color: rgb(224, 224, 224);
}

.description-text {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding-top: 30px;
	padding-bottom: 50px;
}
.description-text>p {
	padding-left: 60px;
	font-size: 20px;
	font-weight: lighter;
}
.catalogue-picture {
	display: grid;
	grid-gap: 3rem;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 0.1fr 0.1fr 0.1fr;
	padding: 0;
	margin: 0;
}