*, *::before *::after {
	box-sizing: border-box;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}
.main {
	color: rgb(14, 13, 13);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
min-height: 600px;
background: url(../image/header.jpg) no-repeat center;
background-size: cover;
position: relative;
}
.header {
	display: flex;
	height: 10vh; 
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: rgb(230, 230, 230);
	position: relative;
	
}

.menu {
	width: 40%;
}
.menu ul{
display: flex;
justify-content: space-between;
list-style: none;
}
.menu-link {
	color: rgb(3, 3, 3);
	text-decoration: none;
	text-transform: uppercase;
}
.text {
	position: relative;
	text-align: center;
	margin-top: 15%;
	font-size: 40px;
}
.text h1 {
	margin-top: 80px;
	position: relative;
	text-align: center;
	text-transform: uppercase;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 60px;
	font-weight: lighter;
}
h1 {
	margin-top: 80px;
	position: relative;
	text-align: center;
	text-transform: uppercase;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 40px;
	font-weight: lighter;
}
.about {
	position: relative;
	margin-top: 5%;
	margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.about__desk {
	width: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
}
.add__service {
	padding: 40px 0;
	background-color: rgb(51, 50, 50);
	color: white;
}

.conteiner__service {
	position: relative;
	padding: 0 20px;
}
.add__service .container__service {
	margin: 0 auto;
	max-width: 750px;
	display: flex;
	justify-content: space-between;
}
.text_service {
	position: relative;
	flex: 0 1 60%;
	padding-bottom: 65px;
}
.container__service h3 {
	margin-bottom: 25px;
}
h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: lighter;
}
.container__service .service_info {
	margin-bottom: 0;
}
.info__color__service {
	color: white;
}
.container__service .btn {
	right: auto;
	bottom: 0;
}
.service_btn {
	position: absolute;
	left: 0;
	margin: 0 auto;
}
.btn {
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 1px;
	display: block;
	cursor: pointer;
	border: 1px solid #a8a8a8;
}
.text_service>a {
	color: white;
	text-decoration: none;
}
.text_service>a:hover {
	color: white;
	background-color: gray;
}
.img_service {
	flex: 0 1 40%;
	position: relative;
	min-height: 200px;
}
.img_service img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.text_service>img {
	vertical-align: middle;
	border: 0;
}
.contacts {
	padding: 80px 0;
	position: relative;
}
.container__contacts {
	position: relative;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: relative;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;	
	font-weight: lighter;
}
.contacts__title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 1px;
	max-width: 400px;
	background-color: grey;
}
p {
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	font-weight: 400;
	color: rgb(56, 55, 55);
	margin-bottom: 50px;
}
.contacts__form {
	display: flex;
}
.contacts__info {
	padding-right: 40px;
	border-right: 1px solid gray;
	flex: 0 0 250px;
}
ul {
	list-style: none;
}
.contacts__info li:first-child {
	margin-bottom: 20px;
}
.contacts__info li {
	padding-left: 40px;
	position: relative;
	display: flex;
	align-items: center;
	height: 30px;
}
.contacts__info li:first-child:before {
	background-image: url(../image/icon-call.png);
}
.contacts__info li:last-child:before {
	background-image: url(../image/email.png);
}
.contacts__info li:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.contacts_link {
	display: block;
	text-decoration: none;
}
a{
	color: black;
	text-decoration: none;
}
footer {
	display: block;
	min-width: 1600px;
	padding: 50px 35px 40px;
	color: whitesmoke;
	background-color: #242222;
	font-size: 15px;
}
.footer__menu {
	display: flex;
	justify-content: flex-start;
	border-bottom: #4b4747 1px solid;
	padding-bottom: 30px;
	position: relative;
}
.footer__container {
	position: relative;
   max-width: 1400px;
   padding: 0 20px;
   
}
.footer__menu {
	display: flex;
	justify-content: flex-start;
	border-bottom: #4b4747 1px solid;
	padding:0 50px 30px 20px;
	position: relative;
}
.footer__nav, .footer__social {
	flex: 0 0 150px;
}
.footer__menu__title {
	font-size: 18px;
	font-family: 'Oswald';
	margin-bottom: 25px;
	font-weight: 600;
}
.footer__social .footer__link {
	display: block;
	position: relative;
	padding-left: 30px;
}
.footer__link {
	color: white;
}
.footer__menu li:not(.footer__menu__title) {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 10px;
}
.footer__contacts {
	position: absolute;
	top: 0;
	right: 0;
	flex: 1 0 50%;
}
.footer__contacts li:first-child {
	margin-bottom: 20px;
}
.footer__contacts li {
	padding-left: 40px;
	position: relative;
	display: flex;
	align-items: center;
	height: 30px;
}
.footer__contacts li:first-child:before {
	background-image: url(../image/call-white.png);
}
.footer__contacts li:last-child:before {
	background-image: url(../image/email-white.png);
}
.footer__contacts li:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.footer__logo {
	padding-top: 40px;
	height: 110px;
	margin: 0 auto;
}
.footer__logo .footer__logo__white {
	width: 100%;
	height: 70%;
	object-fit: contain;
}