body {
	background-color: #ffe3cd;
}
h1 {
	font-style: italic;
	font-size: 40px;
	text-align: center;
}
ul {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
}
li {
list-style-type: square;
}
a {
	color: black;
}